<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cuprum|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div th:insert="base :: navbar"></div>
<div class="container">
    <h1 style="text-align: center;">Job Listings</h1>
    <div sec:authorize="isAuthenticated()">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Title</th>
                <th>Posted</th>
                <th>Description</th>
                <th>Posted By</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.title}"></td>
                <td th:text="${job.posteddate}"></td>
                <td th:text="${job.description}"></td>
                <td th:text="${job.author}"></td>
                <td th:text="${job.phone}"></td>
                <td>
                    <a th:href="@{/detail/{id}(id=${job.id})}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
    <div th:insert="base :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>