<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cuprum|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Details</title>
    <style>
        body{
            background-image: linear-gradient(to bottom right, cornflowerblue, lightgrey);
            font-family: 'Montserrat', sans-serif;
        }

        .container{
            min-height: -webkit-fill-available;
        }
    </style>
</head>
<body>
<div th:insert="base :: navbar"></div>
<h2 style="text-align: center;">Job Info</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card bg-info" style="width: 36rem;">
                <div class="card-header" style="font-weight: bold" th:text="${job.title}">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >Posted Date: <span th:text="${#dates.format(job.posteddate,'yyyy-MM-dd HH:mm')}"></span></li>
                    <li class="list-group-item" >Description: <span th:text="${job.description}"></span></li>
                    <li class="list-group-item" >Posted By: <span th:text="${job.author}"></span></li>
                    <li class="list-group-item" >Contact: <span th:text="${job.phone}"></span></li>
                </ul>
                <div class="card-body" th:if="${user_id == job.user.id}">
                    <a th:href="@{/update/{id}(id=${job.id})}">Update</a> -
                    <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-danger">Delete this job</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div th:insert="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>